<section class="px-6 sm:px-10 lg:px-40 py-20 sm:py-36 mt-10 sm:mt-10">
  <div >
      <h2 class="text-3xl font-bold text-white font-crete">Services</h2>
      <p class="text-white text-md font-medium font-mono py-3">These are some of the services I offer</p>
     <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5" id="articlecontainer">
      
     </div>
  </div>
</section>