<section class="px-6 sm:px-10 lg:px-40 py-20 sm:py-36">
  <div>
      <h2 class="text-3xl font-bold text-white font-crete">Some of my work</h2>
      <p class="text-white text-md font-medium font-mono pt-3">Here are some of my work showcasing my skills.</p>
      <p class="text-white text-md font-medium font-mono pb-3">They also include open source contributions.</p>

      <div data-aos="fade-right" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5" id="projectcontainer">
          <!--  -->
      </div>
  </div>
</section>