---
import Services from "./Services.astro"
import Project from "./Project.astro"
import Article from "./Article.astro"
---

<div class="pb-10">
    <!-- Navbar -->
    <nav class="flex justify-between fixed top-0 left-0 right-0 z-50 bg-opacity-75 backdrop-filter backdrop-blur-lg items-center px-6 sm:px-10 lg:px-40 py-5 text-white bg-transparent">
        <div class="flex items-center gap-2">
            <span class="font-bold text-2xl sm:text-3xl font-crete ">Okure</span>
            <span class="text-xl">✨</span>
        </div>
        <div>
            <a href="https://github.com/Yelsnik" target="_blank">
                <img src="./github.svg" alt="github profile" class="rounded-full bg-white w-6 h-6">
            </a>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="flex flex-col items-center text-center mt-20 py-20 sm:py-36 mb-10 px-4">
        <div class="text-white mt-10 sm:mt-20">
            <p class="text-3xl sm:text-4xl md:text-5xl lg:text-7xl font-crete">Software Developer.</p>
        </div>
        <div class="mt-5 max-w-3xl px-4 sm:px-0">
            <p class="text-white font-arrows font-medium text-base sm:text-lg md:text-xl">
                I'm <span class="text-white text-3xl animate-bounce sm:text-xl">Kingsley Okure</span>, a Fullstack Developer heavy on Backend development and passionate about web3 and Blockchain.
            </p>
        </div>
    </div>

    <!-- Services Section -->
   <Services />

    <!-- Projects Section -->
    <Project/>

    <!-- Articles section -->
    <Article/>
    

   <script src="../scripts/script.js">

  </script> 

</div>
